.wrapper-contact{
    width: 100%;
    margin: 0 auto;
    padding:10px 0;
    .wrapper-contact-above{
        text-align: center;
        color:#004040;
        font-size: 20px;
    }
    .wrapper-contact-bottom{
        padding: 23px 0;
        width: 100%;
        margin: 0 30px;
        overflow-x: auto
    }
}