@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Roboto:wght@300&display=swap");
.product__details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #eee;
  overflow: hidden;
  box-shadow: 2px 8px 20px #ddd;

  img {
    max-width: 700px;
    width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;
    max-height: 700px;
  }
  .product__details--content {
    max-width: 700px;
    min-width: 290px;
    margin: 25px;
    h2,
    p {
      margin: 0;
      padding: 0;
    }
    .product__content--price {
      display: flex;
      align-items: center;
    }
    .product__content--above {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      align-items: center;
      h2 {
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      span {
        color: crimson;
        font-size: 30px;
      }
    }
    .product__content--below {
      .availableSizes__Color {
        margin-top: 10px;
        button {
          width: 50px;
          height: 50px;
          border: 1px solid #333;
          outline: none;
          margin-right: 5px;
          cursor: pointer;
        }
      }
      .product__below--count {
        input {
          width: 35px;
          height: 35px;
          cursor: pointer;
        }
        button {
          margin: 0 10px;
          letter-spacing: 1px;
          width: 40px;
          height: 40px;
          border: 1px solid #555;
          outline: none;
          cursor: pointer;
        }
      }
      .product__below--btn {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        a {
          color: black;
          text-decoration: none;
          letter-spacing: 1px;
        }
        :hover {
          text-decoration: underline;
        }

        .cart {
          padding: 8px 70px;
          margin: 14px 0;
          border-radius: 5px;
          border: none;
          background: #1b1b1b;
          text-decoration: none;
          cursor: pointer;
          color: white;
          font-family: "Noto Sans JP", sans-serif;
          font-size: 14px;
        }
      }
    }

    .cart {
    }
  }
}
.product_below--evaluates {
  width: 80%;
  margin-top: 50px;
  background: #fff;
  height: 100%;
  .list-evaluates {
    color: black;
    width: 80%;
    margin: 10px auto;
    button {
      cursor: pointer;
      padding: 8px 60px;
      margin: 14px 0;
      border-radius: 5px;
      border: none;
      background: rgb(27, 27, 27);
      color: white;
      font-family: "Noto Sans JP", sans-serif;
      font-size: 14px;
      &:hover {
        cursor: pointer;
        background: rgb(195, 197, 69);
        transition: 0.8s ease-in-out;
      }
    }
    .content-evaluates {
      border-left: 4px solid rgb(190, 190, 190);
      h4 {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        text-transform: capitalize;
        padding-left: 10px;
      }
      .star {
        padding-left: 10px;
        margin-top: -12px;
      }
      .time {
        font-size: 12px;
        color: hsl(0, 0%, 26%);
        font-family: "Noto Sans JP", sans-serif;
        padding-left: 10px;
      }
      .content {
        font-size: 14px;
        font-family: "Noto Sans JP", sans-serif;
        margin-top: -5px;
        padding-left: 10px;
      }
    }
  }
}
