.wraper-account{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    .wraper-above-account{
        text-align: center;
        color: #004040;
        font-size:19px
    }
    .wraper-bottom-account{
        width: 100%;
        margin: 20px 15px;
        overflow-x: auto
    }
}